.slider {
  height: 100vh;
  width: 100%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url('../../img/section_bg1.jpg');
  object-fit: cover;
}

.sliderWrapper {
  width: 70%;
  margin-left: 4rem;
  color: #fff;
  font-weight: bolder;
}

.sliderTitle {
  font-size: 3.5rem;
  color: #fff;
}

.sliderQoute {
  font-weight: bold;
}

.sliderButton {
  padding: 1rem;
  border: none;
  color: #000;
  background-color: #fff;
  width: 7rem;
  margin-top: 1rem;
}
