@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.slider {
  height: 100vh;
  width: 100%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url('../../img/section_bg1.jpg');
  object-fit: cover;
}

.sliderWrapper {
  width: 70%;
  margin-left: 4rem;
  color: #fff;
  font-weight: bolder;
}

.sliderTitle {
  font-size: 3.5rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.sliderQoute {
  font-weight: bold;
  margin-bottom: 2rem;
}

.sliderButton {
  padding: 1rem;
  border: none;
  color: #000;
  background-color: #fff;
  width: 15rem;
  margin-top: 1rem;
  text-align: center;
}

.sliderButton:hover {
  color: rgba(12, 11, 11, 0.329);
}

.slider a:hover {
  color: rgb(82, 80, 80);
}
